/*
Colors used
Visited Link Color: #3d1255;
Active Link Color: #489c80;
Secondary Color (Orange): #e0b354;
Button Background Color: #357b70
Button Secondary: #e0b354
 */

html { background-color: #ffccff;
}


body {
     font-family: 'Shadows Into Light', sans-serif;
     font-weight: 400;
     font-size: 25px;
     /*Sets the font size to 25px */
     line-height: 1.6;
     /* Sets the line-height to 1.6 */
}

h1   {
     font-size: 30px;
     font-weight: 700;
     text-decoration: underline;
}

h2   {
     font-size: 24px;
     font-weight: 700;
}

h3   {
     font-size: 18px;
     font-weight: 700;
}

a    {
     color:#357b70;
   }

a:   visited {
     /* visited link */
     color: #3d1255;
    }

a:  hover, a:focus {
  /* No underlining when hovering over a link */
    text-decoration: none;
  }

a:  active {
    /* selected link */
    color: #489c80;
  }

.button {
   /* overwrites broswer defaults and resets the border */
   border: none;
   display: inline-block;
   /* takes the font from the outer container */
   font-family: inherit;
   /* styles the background color, font color, and text
    decoration (underline, etc.) of the button */
   background-color: #357b70;
   color: white;
   text-decoration: none;
   /* adds spacing to the button */
   padding: 10px;
   border-radius: 3px;
   /* gives the button a bottom border with a width of 2px, a type of solid,
   and a color in RGBA format */
   border-bottom: 2px solid rgba (0, 0, 0, 0.3);
   transition: 0.2s opacity;
  }

button {
   /* overwrites broswer defaults and resets the border */
   border: none;
   display: inline-block;
   /* takes the font from the outer container */
   font-family: inherit;
   /* styles the background color, font color, and text
    decoration (underline, etc.) of the button */
   background-color: #357b70;
   color: white;
   text-decoration: none;
   /* adds spacing to the button */
   padding: 10px;
   border-radius: 3px;
   /* gives the button a bottom border with a width of 2px, a type of solid,
   and a color in RGBA format */
   border-bottom: 2px solid rgba (0, 0, 0, 0.3);
   transition: 0.2s opacity;
  }

button:hover, button:focus
 .button:hover, .button:focus {
   /* lets the mouse appear as a hand when hovering over the button */
   cursor: pointer;
   /* reduces the opacity of the button to 80% */
   opacity: 0.8;
  }

  * {
    box-sizing: border-box;
  }

.pageheader{
   display: flex;
   width: 100%;
   padding: 20px;
  }

.page-header__item: {
   flex: 0 1 200px;
 }

.page-header__item: last-child {
   flex-grow: 1;
   text-align: right;
 }

.page-header .navigation-list {
	 list-style-type: none;
  }

.page-header .navigation-list li {
    display: inline-block;
    margin-left: 15px;
    }

.button_secondary {
    background-color: #e0b354;
    color: #2b2b2b;
    }

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main {
    text-align: center;
}

.about {
    text-align: center;
    list-style-type: none;
}

.work {
    text-align: center;
}

.profile__portrait {
    float: left;
    width: 100%;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    height: 250px
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  }
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: grid;
   /* grid-template-columns: 300px 300px 300px;
   fractions are better than pixels - they are responsive */
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   margin: 0;
  }

 .grid__item {
   background-color: #c7bedf;
   width: auto;
   min-height: auto;
   margin: 0;
  }

 .grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
  }

 .Chicago_blue {
   float: center;
   width: 100%;
   max-width: 100%;
   margin-right: 0px;
   border-radius: 10%;
   height: 600px
  }

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    }
  }

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    }
  }

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
   }
 }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 30px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from
    transform: translate(0, 50px);

  to
    transform: translate(200px, 50px);
  }

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse from {
 transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
}
