/*
Colors used
Primary Color: #8897AA
Secondary Color: #EDECF2
Chart in Work Page: #96C2DB
Active Link Color: #489c80;
Visited Link Color: #3d1255;
Button Background Color: #e993e7
Button Secondary: #FFCBA4
Background Color: #FFFFF
 */

 html { background-color: #FFFFFF;
 }
 
 
 body {
      font-family: 'Arial', sans-serif;
      font-weight: 500;
      font-size: 15px;
      /*Sets the font size to 25px */
      line-height: 1.6;
      /* Sets the line-height to 1.6 */
      text-decoration: none; 
      margin: 20px; 
 }
 
 h1   {
      font-size: 25px;
      font-family: 'Great Vibes', cursive; 
      font-weight: 700;
      text-decoration: none;
 }
 
 h2   {
      font-size: 20px;
      font-weight: 500;
 }
 
 h3   {
      font-size: 15px;
      font-weight: 500;
 }
 
 a    {
      color:#8897AA;
    }
 
 a   visited {
      /* visited link */
      color: #3d1255;
     }
 
 a hover, a:focus {
   /* No underlining when hovering over a link */
     text-decoration: none;
   }
 
 a active {
     /* selected link */
     color: #489c80;
   }
 
 .button {
    /* overwrites broswer defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text
     decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid,
    and a color in RGBA format */
    border-bottom: 2px solid rgba (0, 0, 0, 0.3);
    transition: 0.2s opacity;
   }
 
 button {
    /* overwrites broswer defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text
     decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid,
    and a color in RGBA format */
    border-bottom: 2px solid rgba (0, 0, 0, 0.3);
    transition: 0.2s opacity;
   }
 
 button:hover, button:focus
  .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
   }
 
   * {
     box-sizing: border-box;
   }
 
   .home-buttons {
     display: flex;
     justify-content: center;
   }
 
   .button_primary {
     margin-right: 20px
   }
 
 .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
   }
 
 .page-header__item {
    flex: 0 1 200px;
    float: left; 
  }
 
 .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
 
  .navigation-list {
    list-style-type: none; 
  }

 .navigation-list li {
  display: inline-block;
  margin-left: 25px;
  font-family:Arial, Helvetica, sans-serif; 
}
 
 .button_secondary {
     background-color: #e993e7;
     color: #ffffff;
     text-align: center;
     }
 
 .page-footer {
     clear: both;
     display: flex;
     flex-direction: column;
     text-align: center;
     flex-basis: 100px; 
     flex-grow: 1; 
     flex-shrink: 1; 
 
 }
 
 .main {
     text-align: center;
     padding: 40px; 
 }
 
 .about {
     list-style-type: none;
     margin: 40px; 
     text-align: center; 
 }

 .work {
  margin: 40px; 
 }
 
 .profile__portrait {
     float: left;
     width: 100%;
     max-width: 250px;
     margin-right: 40px;
     border-radius: 50%;
     height: 250px
 }
 
 .profile {
     max-width: 700px;
     margin: 0 auto;
 }
 
 /* start grid fallback */
 .grid__item {
   display: inline-block;
   width: 33%;  
   }
 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px;
    fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    box-sizing: border-box; 
    text-align: center; 
   }
 
  .grid__item {
    background-color: #96C2DB;
    width: auto;
    min-height: auto;
    margin: 10;
    box-sizing: border-box; 
   }
 
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
   }
 
 
  .Chicago_blue {
    float: center;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    border-radius: 10%;
    height: 300px
   }
 
   @media all and (max-width: 750px){
     /* shared code */
   }
   @media all and (max-width: 500px) {
     .grid {
       grid-template-columns: 1fr;
     }
   }
   @media all and (min-width: 500px) and (max-width: 750px){
     .grid {
       grid-template-columns: 1fr 1fr;
     }
   }
   @media all and (max-width: 750px) {
     .grid {
       grid-gap: 10px;
     }
     .grid__item:last-child {
       grid-column: auto / auto;
       grid-row: auto / auto;
     }
     h1 {
       font-size: 22px;
     }
   }
 }