/*
Colors used
Primary Color: #8897AA
Secondary Color: #EDECF2
Chart in Work Page: #C8C7D7
Active Link Color: #489c80;
Visited Link Color: #3d1255;
Button Background Color: #357b70
Button Secondary: #FFCBA4
Background Color: #F4EDE5
 */
:root {
  --primary-color: #8897AA;
  --secondary-color: #EDECF2;
  --dark-grey: #C8C7D7;
  --active-link-color: #489c80;
  --visited-link-color: #3d1255;
  --button-background-color: #357b70;
  --button-secondary: #FFCBA4;
  --background-color: #F4EDE5;
  --white--: #ffffff;
  --font-size-body: 15px;
  --font-weight-body: 400;
  --font-size-h1: 25px;
  --font-size-h2: 20px;
  --font-size-h3: 15px;
  --font-weight-paragraphs: 700;

}

html { background-color: var(--background-color);
}


body {
     font-family: 'Arial', sans-serif;
     font-weight: var(--font-weight-body);
     font-size: var(--font-size-body);
     /*Sets the font size to 25px */
     line-height: 1.6;
     /* Sets the line-height to 1.6 */
}

h1   {
     font-size: var(--font-size-h1);
     font-weight: var(--font-weight-paragraphs);
     text-decoration: underline;
}

h2   {
     font-size: var(--font-size-h2);
     font-weight: var(--font-weight-paragraphs);
}

h3   {
     font-size: var(--font-size-h2);
     font-weight: var(--font-weight-paragraphs);
}

a    {
     color:var(--primary-color);
   }

a   visited {
     /* visited link */
     color: var(--visited-link-color);
    }

a hover, a:focus {
  /* No underlining when hovering over a link */
    text-decoration: none;
  }

a active {
    /* selected link */
    color: var(--active-link-color);
  }

.button, button {
   /* overwrites broswer defaults and resets the border */
   border: none;
   display: inline-block;
   /* takes the font from the outer container */
   font-family: inherit;
   /* styles the background color, font color, and text
    decoration (underline, etc.) of the button */
   background-color: var(--button-background-color);
   color: white;
   text-decoration: none;
   /* adds spacing to the button */
   padding: 10px;
   border-radius: 3px;
   /* gives the button a bottom border with a width of 2px, a type of solid,
   and a color in RGBA format */
   border-bottom: 2px solid rgba (0, 0, 0, 0.3);
   transition: 0.2s opacity;
  }

button:hover, button:focus
 .button:hover, .button:focus {
   /* lets the mouse appear as a hand when hovering over the button */
   cursor: pointer;
   /* reduces the opacity of the button to 80% */
   opacity: 0.8;
  }

  * {
    box-sizing: border-box;
  }

  .home-buttons {
    display: flex;
    justify-content: center;
  }

  .button_primary {
    margin-right: 20px
  }

.page-header {
   display: flex;
   width: 100%;
   padding: 20px;
  }

.page-header__item {
   flex: 0 1 200px;
 }

.page-header__item last-child {
   flex-grow: 1;
   text-align: right;
 }

 .navigation-list_item--active {
   text-decoration: none;
 }

.page-header .navigation-list {
	 list-style-type: none;
  }

.page-header .navigation-list li {
    display: inline-block;
    margin-left: 15px;
    }

.button_secondary {
    background-color: var(--secondary-color);
    color: var(--purple);
    text-align: center;
    }

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main {
    text-align: center;
}

.about {
    text-align: center;
    list-style-type: none;
}

.work {
    text-align: center;
}

.profile__portrait {
    float: left;
    width: 100%;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    height: 250px
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  }
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: grid;
   /* grid-template-columns: 300px 300px 300px;
   fractions are better than pixels - they are responsive */
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   margin: 0;
  }

 .grid__item {
   background-color: #c7bedf;
   width: auto;
   min-height: auto;
   margin: 0;
  }

 .grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
  }


 .Chicago_blue {
   float: center;
   width: 100%;
   max-width: 100%;
   margin-right: 0px;
   border-radius: 10%;
   height: 600px
  }

  @media all and (max-width: 750px){
    /* shared code */
  }
  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }

sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move from {
    transform: translate(0, 50px);
  
to {
    transform: translate(200px, 50px);
  }

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse from
(446px, 48px);
  to {
    transform: translate(100px, 48px);
  }
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
